.form-item {
    display: grid;
    grid-template-columns: 0fr auto 0fr;
    align-items: center
}

.form-label {
    width: 8vw
}

.anki-container input {
    pointer-events: initial;
    opacity: initial;
    margin: initial;
    position: initial;
}

.form-item > ol {
    padding-inline-start: 0;
    width: 50vw;
}

.form-item ol .form-item .swal2-input {
    padding: 5px;
    margin: 1em 5px 3px;
}

.form-item ol .form-item .field-name {
    width: 8vw
}

.anki-container .form-input {
    margin: 1em 1em 3px;
}

.form-item .spell {
    margin-top: 1vw;
}

.form-item .spell-content {
    text-align: left;
    height: 17vw;
    resize: both;
    max-width: 40vw;
}

#shadowAddField, .form-item > .field-operate > button, .form-item > .field-operate > input {
    cursor: pointer;
}

.swal2-input, .swal2-select {
    margin: 1em 1em 3px;
}

.btn-add-field {
    width: 2vw;
    height: 2vw;
    margin-top: 1.5vw;
}

.sentence_setting {
    text-align: left;
}


#sentence_type {
    min-width: initial;
}

.sentence_setting .spell-content {
    height: 12vw;
    width: inherit;
    max-width: initial;
}

.sentence_setting .form-label {
    display: inline;
}


ol .form-item:has( .sentence_setting) {
    display: block;
    width: 103%;
}

ol .form-item:has( .sentence_setting):after {
    content: "";
    clear: both;
    display: table;
}

ol .form-item:has( .sentence_setting) > * {
    float: left;
}

ol .form-item:has( .sentence_setting) .field-name {
    margin-top: 10vw;
}

ol .form-item .sentence_setting {
    display: inline-block;
}

ol .form-item:has( .sentence_setting) :where(.spell) {
    max-width: 39vw;
}

ol .form-item:has( .sentence_setting) .field-operate > * {
    display: block;
}

ol .form-item:has( .sentence_setting) .field-operate input {
    margin: auto;
}

.form-item .field-operate select {
    max-width: 3vw;
}


#sentence_num {
    width: 5vw;
}

.sentence-format, .anki-tag-search, .form-hidden {
    display: none;
}

.sentence-format-input {
    width: 18vw;
}

span.select2.select2-container {
    margin-left: 1vw;
}

.select2-dropdown {
    z-index: 10510;
}

.select2-container .select2-search--inline .select2-search__field {
    height: 1.5vw;
}
