.form-item {
    display: grid;
    grid-template-columns: 0fr auto 0fr;
    align-items: center
}

.form-label {
    width: 8rem
}

.form-item ol {
    padding-inline-start: 0;
    width: 50rem;
}

.form-item ol .form-item .swal2-input {
    padding: 5px;
    margin: 1em 5px 3px;
}

.form-item ol .form-item .field-name {
    width: 8rem
}

.form-item .spell {
    margin-top: 1rem;
}

.form-item .spell-content {
    text-align: left;
    height: 17rem;
    resize: both;
}

#shadowAddField, .form-item > .field-operate > button, .form-item > .field-operate > input {
    cursor: pointer;
}

.swal2-input, .swal2-select {
    margin: 1em 1em 3px;
}

.btn-add-field {
    width: 2rem;
    height: 2rem;
    margin-top: 1.5rem;
}

.sentence_setting {
    text-align: left;
}

.sentence_field {
    width: 8rem;
}

#sentence_type {
    min-width: initial;
}

.sentence_setting .spell-content {
    height: auto;
    width: inherit;
}

.sentence_setting .form-label {
    display: inline;
}

#sentence_field {
    width: 8rem;
}

.swal2-select {
    height: 3rem;
}

#sentence_num {
    width: 5rem;
}

.sentence-format, .anki-tag-search {
    display: none;
}

.sentence-format-input {
    width: 18rem;
}

.select2-container {
    margin-left: 1rem;
}

.select2-dropdown {
    z-index: 10510;
}

.select2-search__field {
    height: 2rem !important;
}