.fetch-sentence-container {
    display: flex;
}

.fetch-item:nth-child(2) button.fetch-delete, .fetch-hidden, .fetch-dd:has(option[value="html"]:checked) + .fetch-dd {
    display: none
}

.fetch-opera {
    display: grid;
    justify-items: center
}

.fetch-item {
    margin-top: 1vw;
    margin-left: 1vw;
    border: 1px dashed #e9b985;
    padding: .4vw
}

.fetch-item-specific {
    border-color: #13195a
}

.fetch-box {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.2vw;
}

.fetch-data-handle {
    width: 5vw;
}

.replace_regex_pattern, .fetch-num {
    width: 2vw;
}

.fetch-replacement-target, .fetch-replacement-value {
    width: 6vw;
}

.fetch-replacement-items {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block: 0;
}

.fetch-replacement-item {
    border: 1px dashed #3c135a;
    margin-top: 5px;
}

.fetch-replacement-item:nth-child(odd) {
    border: 1px dashed #135a27;
}

.fetch-replacement-item:not(:last-of-type) .replacement-add,
.fetch-replacement-item:only-of-type .replacement-remove,
.super-fetch-item:not(:last-of-type) .add-super-fetch-item,
:nth-child(1 of .super-fetch-item) :where(.parent-super-name,.remove-super-fetch-item) {
    display: none;
}

.fetch-buttons {
    display: inline-block;
}

.fetch-buttons button {
    display: block;
}

.fetch-dd {
    margin-left: 0;
}

.fetch-name {
    width: 7vw;
    display: block;
}

.operate-type, .fetch-box > .fetch-active {
    display: block;
    margin: auto;
}

.fetch-action-container > .fetch-dd > .fetch-format {
    width: 22vw;
}

.fetch-format {
    width: 15vw
}

input[name=parent-selector], input[name=child-selector] {
    width: 9vw;
}

.default-value {
    width: 5vw;
}

.fetch-bold-field, .fetch-html-replacement, .fetch-value-replacement {
    width: 17vw
}

.fetch-variable {
    width: 3vw
}



.super-fetch-item {
    border: #135a27 solid 1px;
    margin-top: 5px;
}

.moving {
    background: transparent;
    color: transparent;
    border: 1px dashed #ccc;
}