.fetch-sentence-container {
    display: flex;
}

.fetch-item:nth-child(2) button.fetch-delete, .fetch-hidden, .fetch-dd:has(option[value="html"]:checked) + .fetch-dd {
    display: none
}

.fetch-opera {
    display: grid;
    justify-items: center
}

.fetch-item {
    margin-top: 1vw;
    margin-left: 1vw;
    border: 1px dashed #e9b985;
    padding: .4vw
}

.fetch-item-specific {
    border-color: #13195a
}

.fetch-box {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.2vw;
}

.replace_regex_pattern {
    width: 2rem;
}

.fetch-replacement-target, .fetch-replacement-value {
    width: 6rem;
}

.fetch-replacement-items {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block: 0;
}

.fetch-replacement-item {
    border: 1px dashed #3c135a;
    margin-top: 5px;
}

.fetch-replacement-item:nth-child(odd) {
    border: 1px dashed #135a27;
}

.fetch-replacement-item:not(:last-of-type) .replacement-add, .fetch-replacement-item:only-of-type .replacement-remove {
    display: none;
}

.fetch-buttons {
    display: inline-block;
}

.fetch-buttons button {
    display: block;
}

.fetch-dd {
    margin-left: 0vw;
}

.fetch-name {
    width: 7vw;
    display: block;
}

.operate-type {
    display: block;
}

.fetch-format {
    width: 20vw
}

.fetch-bold-field, .fetch-html-replacement, .fetch-value-replacement {
    width: 17vw
}

.fetch-num {
    width: 3vw
}

.moving {
    background: transparent;
    color: transparent;
    border: 1px dashed #ccc;
}