.fetch-sentence-container {
    display: flex;
}

.fetch-item:nth-child(2) button.fetch-delete, .fetch-hidden, .fetch-dd:has(option[value="html"]:checked) + .fetch-dd {
    display: none
}

.fetch-opera {
    display: grid;
    justify-items: center
}

.fetch-item {
    margin-top: 1vw;
    margin-left: 1vw;
    border: 1px dashed #e9b985;
    padding: .4vw
}

.fetch-item-specific {
    border-color: #13195a
}

.fetch-box {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.2vw;
}

.fetch-data-handle {
    width: 5vw;
}

.replace_regex_pattern {
    width: 5vw;
}

.fetch-num {
    width: 2vw;
}

.fetch-replacement-target, .fetch-replacement-value {
    width: 6vw;
}

.fetch-replacement-items {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block: 0;
    border: #0f1ff0 solid 1px;
}

input:required {
    border: #31e963 double 1px;
}

[data-multiple-required] {
    border-color: aqua;
}

.fetch-replacement-item {
    border: 1px dashed #3c135a;
    margin-top: 5px;
}

.fetch-replacement-item:nth-child(odd) {
    border: 1px dashed #e3300d;
}

.multiple_child:not(:checked) ~ :where(.separator,.fetch-repeat),
.fetch-replacement-item:only-of-type .replacement-remove,
.selector-item:not(:last-of-type) .add-selector-item,
.selector-item:only-of-type .remove-selector-item,
:nth-child(1 of .selector-item) > .keep-parent,
:nth-child(1 of .super-fetch-item) :where(.parent-super-name,.remove-super-fetch-item) {
    display: none;
}

.fetch-buttons {
    display: inline-block;
}

.fetch-buttons button {
    display: block;
}

.fetch-dd {
    margin-left: 0;
}

.fetch-name {
    width: 7vw;
    display: block;
}

.operate-type, .fetch-box > .fetch-active {
    display: block;
    margin: auto;
}

.fetch-action-container > .fetch-dd > .fetch-format {
    width: 19vw;
}

.replace_target_type {
    width: 4vw;
}

.fetch-format {
    width: 15vw
}

input[name=parent-selector], input[name=child-selector] {
    width: 9vw;
}

.default-value, .parent-super-name {
    width: 5vw;
}

.fetch-bold-field, .fetch-html-replacement, .fetch-value-replacement {
    width: 17vw
}

.fetch-variable, .separator {
    width: 3vw
}


.super-fetch-item {
    border: #135a27 solid 1px;
    margin-top: 5px;
}

.moving {
    background: transparent;
    color: transparent;
    border: 1px dashed #ccc;
}

.fetch-dd:has(option[value=htmlElement]:checked) ~ .fetch-dd,
.replace_target_type:has(option[value=toUpperCase]:checked) ~ :not(button),
.replace_target_type:has(option[value=toLowerCase]:checked) ~ :not(button),
.replace_target_type:has(option[value=escapeHTML]:checked) ~ :not(button),
.replace_target_type:has(option[value=unescapeHTML]:checked) ~ :not(button) {
    display: none;
}

.replace_target_type:has(option[value=parseTemplate]:checked) + .templateVar {
    display: inline;
    width: 3vw;
}

.replace_target_type:has(option[value=parseTemplate]:checked) ~ .replace_regex_pattern {
    width: 2vw;
}

.super-fetch-name, .super-fetch-item {
    background-color: attr(data-color type(< color >));
}