/*组件样式*/
:host {
    all: unset !important
}

:host {
    all: initial !important
}

* {
    word-wrap: break-word !important;
    word-break: break-word !important
}

a {
    color: #00c;
    text-decoration: none;
    cursor: pointer
}

a:hover {
    text-decoration: none
}

a:active {
    text-decoration: underline
}

img {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #dfe1e5;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    padding: 2px;
    margin: 0;
    margin-right: 5px;
    box-sizing: content-box;
    vertical-align: middle
}

img:last-of-type {
    margin-right: auto
}

img:hover {
    border: 1px solid #f90
}

img[activate] {
    border: 1px solid #f90
}

img[activate]:hover {
    border: 1px solid #f90
}

table {
    font-size: inherit;
    color: inherit
}

tr-icon {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    cursor: move;
    box-sizing: content-box;
    font-size: ${fontSize} px;
    text-align: left;
    border: 0;
    border-radius: 4px;
    color: black;
    z-index: ${zIndex};
    background: transparent
}

tr-icon[activate] {
    background: #fff;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.08)
}

tr-content > div {
   cursor: initial;
}