<div class="fetch-item" draggable="true">
    <div class="fetch-box">
        <input class="fetch-name" name="fetch-name" placeholder="{{fetch-name|lang}}" required
               title="{{fetch-name|lang}}"
               value="{{fetch-name}}">
        <select class="operate-type" name="operate-type" title="{{operate-type|lang}}">
            {{op|buildOption(operate-type,0,1,2)}}}
        </select>
        <input class="url-scope" name="url-scope" placeholder="{{url-scope|lang}}" title="{{url-scope|lang}}"
               data-single-run="{{singleRun}}" type="text" value="{{url-scope|htmlSpecial}}">
    </div>
    <template>fetch-operator</template>
    <div class="fetch-box">
        <input class="swal2-checkbox fetch-active" name="fetch-active" placeholder="{{fetch-active|lang}}"
               title="{{fetch-active|lang}}" type="checkbox"
               {{fetch-active|checked}}>

        <input class="swal2-checkbox add-contextmenu" name="add-contextmenu" placeholder="{{add-contextmenu|lang}}"
               data-single-run="{{singleRun}}" title="{{add-contextmenu|lang}}" type="checkbox"
               {{add-contextmenu|checked}}>
        <div class="fetch-buttons">
            <button class="fetch-delete" title="{{fetch-delete|lang}}">➖</button>
            <button class="fetch-copy" title="{{fetch-copy|lang}}">🖇</button>
            <button class="fetch-add" title="{{fetch-add|lang}}">➕</button>
        </div>
    </div>
</div>