<div class="fetch-item">
    <div class="fetch-box">
        <input class="fetch-name" name="fetch-name" placeholder="{{fetch-name|lang}}" required
               title="{{fetch-name|lang}}"
               value="{{fetch-name}}">
        <select class="operate-type" name="operate-type" title="{{operate-type|lang}}">
            {{op|buildOption(operate-type)}}}
        </select>
    </div>
    <div class="fetch-box fetch-action-container">
        {{fetch-operator}}
    </div>
    <div class="fetch-box">
        <input class="swal2-checkbox fetch-active" name="fetch-active" placeholder="{{fetch-active|lang}}"
               title="{{fetch-active|lang}}" type="checkbox"
               {{fetch-active|checked}}>
        <div class="fetch-buttons">
            <button class="fetch-delete" title="{{fetch-delete|lang}}">➖</button>
            <button class="fetch-copy" title="{{fetch-copy|lang}}">🖇</button>
            <button class="fetch-add" title="{{fetch-add|lang}}">➕</button>
        </div>
    </div>
</div>