<div class="fetch-dd">
    <input class="fetch-field" name="fetch-field" placeholder="{{title.fetch-field}}"
           title="{{title.fetch-field}}" value="{{fetch-field}}">
    <input class="fetch-to-field" name="fetch-to-field" placeholder="{{title.fetch-to-field}}"
           title="{{title.fetch-to-field}}" value="{{fetch-to-field}}">
</div>
<div class="fetch-dd">
    <input class="fetch-selector" name="fetch-selector" placeholder="{{title.fetch-selector}}"
           title="{{title.fetch-selector}}" value="{{fetch-selector}}">
    <input class="fetch-parent-selector" name="fetch-parent-selector"
           placeholder="{{title.fetch-parent-selector}}" title="{{title.fetch-parent-selector}}"
           value="{{fetch-parent-selector}}">
</div>
<div class="fetch-dd">
    <input class="fetch-exclude-selector" name="fetch-exclude-selector"
           placeholder="{{title.fetch-exclude-selector}}" title="{{title.fetch-exclude-selector}}"
           value="{{fetch-exclude-selector}}">

    <input class="fetch-join-selector" name="fetch-join-selector"
           placeholder="{{title.fetch-join-selector}}" title="{{title.fetch-join-selector}}"
           value="{{fetch-join-selector}}">
</div>
<div class="fetch-dd">
    <input class="fetch-format" name="fetch-format" placeholder="{{title.fetch-format}}"
           title="{{title.fetch-format}}" value="{{fetch-format}}">
    <select class="fetch-data-handle" name="fetch-data-handle"
            title="{{title.fetch-data-handle}}">
        {{fetch-data-handle-option}}
    </select>
</div>
<div class="fetch-dd">
    <input class="fetch-bold-field" name="fetch-bold-field"
           placeholder="{{title.fetch-bold-field}}" title="{{title.fetch-bold-field}}"
           value="{{fetch-bold-field}}">
    <input class="fetch-num" min="0" name="fetch-num" placeholder="{{title.fetch-num}}" step="1"
           title="{{title.fetch-num}}" type="number"
           value="{{fetch-num}}">
    <input class="fetch-repeat" name="fetch-repeat" placeholder="{{title.fetch-repeat}}" title="{{title.fetch-repeat}}"
           type="checkbox" {{fetch-repeat-checked}}>
</div>
<div class="fetch-dd">
    <input class="fetch-value-replacement" name="fetch-value-replacement"
           placeholder="{{title.fetch-value-replacement}}" title="{{title.fetch-value-replacement}}"
           value="{{fetch-value-replacement}}">
    <input class="fetch-value-trim" name="fetch-value-trim" placeholder="{{title.fetch-value-trim}}" title="{{title.fetch-value-trim}}"
           type="checkbox" {{fetch-value-trim-checked}}>
    <input class="fetch-value-replacement-ignore-case" name="fetch-value-replacement-ignore-case" placeholder="{{title.fetch-value-replacement-ignore-case}}"
           title="{{title.fetch-value-replacement-ignore-case}}" type="checkbox"
           {{fetch-value-replacement-ignore-case-checked}}>
    <select class="fetch-data-type" name="fetch-data-type"
            title="{{title.fetch-data-type}}">
        {{fetch-data-type-options}}
    </select>
</div>
<div class="fetch-dd">
    <input class="fetch-html-replacement" name="fetch-html-replacement"
           placeholder="{{title.fetch-html-replacement}}" title="{{title.fetch-html-replacement}}"
           value="{{fetch-html-replacement}}">
    <input class="fetch-html-replacement-ignore-case" name="fetch-html-replacement-ignore-case" placeholder="{{title.fetch-html-replacement-ignore-case}}"
           title="{{title.fetch-html-replacement-ignore-case}}" type="checkbox"
           {{fetch-html-replacement-ignore-case-checked}}>
</div>
