<div class="super-fetch-item">
    <div class="fetch-dd">
        <input class="super-fetch-name" name="super-fetch-name" placeholder="{{super-fetch-name|lang}}"
               title="{{super-fetch-name|lang}}" type="text"
               value="{{super-fetch-name}}">
        <button class="add-super-fetch-item" data-op="add" data-target=".super-fetch-item" title="{{add|lang}}">+
        </button>
        <button class="remove-super-fetch-item" data-op="remove" data-target=".super-fetch-item">-</button>
    </div>
    <div class="fetch-dd">
        <input class="parent-super-name" name="parent-super-name" placeholder="{{parent-super-name|lang}}"
               title="{{parent-super-name|lang}}" value="{{parent-super-name}}">
        <input class="anchor-selector" name="anchor-selector"
               placeholder="{{anchor-selector|lang}}" title="{{anchor-selector|lang}}"
               value="{{anchor-selector}}">
    </div>

    <div class="fetch-dd">
        <select class="fetch-data-type" name="fetch-data-type" title="{{fetch-data-type|lang}}">
            {{htmlType|buildOption(fetch-data-type)}}
        </select>
        <input class="default-value" name="default-value" placeholder="{{default-value|lang}}"
               title="{{default-value|lang}}"
               type="text" value="{{default-value}}">
        <input class="fetch-format" name="fetch-format" placeholder="{{fetch-format|lang}}"
               title="{{fetch-format|lang}}" value="{{fetch-format}}">
    </div>

    <div class="fetch-dd">
        <ul class="fetch-replacement-items" data-batch>
            {{replacement-item-html}}
        </ul>
    </div>
</div>
