<div class="super-fetch-item">
    <div class="fetch-dd">
        <input class="super-fetch-name" name="super-fetch-name" placeholder="{{title.super-fetch-name}}"
               title="{{title.super-fetch-name}}" type="text"
               value="{{super-fetch-name}}">
        <button class="add-super-fetch-item" data-op="add" data-target=".super-fetch-item">+</button>
        <button class="remove-super-fetch-item" data-op="remove" data-target=".super-fetch-item">-</button>
    </div>
    <div class="fetch-dd">
        <input class="parent-super-name" name="parent-super-name" placeholder="{{title.parent-super-name}}"
               title="{{title.parent-super-name}}" value="{{parent-super-name}}">
        <input class="fetch-parent-selector" name="fetch-parent-selector"
               placeholder="{{title.fetch-parent-selector}}" title="{{title.fetch-parent-selector}}"
               value="{{fetch-parent-selector}}">
    </div>

    <div class="fetch-dd">
        <input class="fetch-variable" name="fetch-variable" placeholder="{{title.fetch-variable}}"
               title="{{title.fetch-variable}}"
               type="text" value="{{fetch-variable}}">
        <input class="fetch-format" name="fetch-format" placeholder="{{title.fetch-format}}"
               title="{{title.fetch-format}}" value="{{fetch-format}}">
    </div>

    <div class="fetch-dd">
        <ul class="fetch-replacement-items" data-batch>
            {{replacement-item-html}}
        </ul>
    </div>
</div>
