<div class="fetch-dd">
    <input class="fetch-field" name="fetch-field" placeholder="{{title.fetch-field}}"
           title="{{title.fetch-field}}" value="{{fetch-field}}">
    <input class="fetch-to-field" name="fetch-to-field" placeholder="{{title.fetch-to-field}}"
           title="{{title.fetch-to-field}}" value="{{fetch-to-field}}">
    <input class="fetch-num" min="0" name="fetch-num" placeholder="{{title.fetch-num}}" step="1"
           title="{{title.fetch-num}}"
           type="number" value="{{fetch-num}}">
    <select class="fetch-data-handle" name="fetch-data-handle" title="{{title.fetch-data-handle}}">{{fetch-data-handle-options}}</select>
    <input class="fetch-repeat" name="fetch-repeat" placeholder="{{title.fetch-repeat}}" title="{{title.fetch-repeat}}"
           {{fetch-repeat-checked}}
           type="checkbox">
</div>


<div class="super-fetch-items" data-batch>
    {{super-fetch-item-html}}
</div>

