<div class="fetch-opera">
    <input class="swal2-checkbox beautiful_switch" id="fetch" name="fetch"
           title="{{super html extract and process processor|lang}}" type="checkbox">
    <button class="fetch-all" title="{{do-all|lang}}">🕸️</button>
    <button class="fetch-import fetch-hidden" title="{{import|lang}}">🚚</button>
    <button class="fetch-export fetch-hidden" title="{{export|lang}}">🚍</button>
    <input accept="text/plain, application/json" class="fetch-file fetch-hidden" type="file">
    <input class="sequentially-fetch" name="sequentially-fetch" title="{{sequentially-fetch|lang}}"
           type="checkbox" {{sequentially-fetch|checked}}>
</div>
<div class="select-setting">
    <select class="fetch-item-select fetch-hidden" name="fetch-item-select"></select>
</div>