<div class="fetch-opera">
    <label class="form-label" for="fetch">{{super html extract and process processor|lang}}</label>
    <input class="swal2-checkbox" id="fetch" name="fetch" title="显示设置" type="checkbox">
    <button class="fetch-all" title="{{do-all|lang}}">🕸️</button>
    <button class="fetch-import fetch-hidden" title="{{import|lang}}">🚚</button>
    <button class="fetch-export fetch-hidden" title="{{export|lang}}">🚍</button>
    <input accept="text/plain, application/json" class="fetch-file fetch-hidden" type="file">
</div>
<div class="select-setting">
    <select class="fetch-item-select fetch-hidden" name="fetch-item-select"></select>
</div>