<div class="fetch-opera">
    <label class="form-label" for="fetch">简易字段加工处理器</label>
    <input class="swal2-checkbox" id="fetch" name="fetch" title="显示设置" type="checkbox">
    <button class="fetch-all" title="一键执行全部操作">🕸️</button>
    <button class="fetch-import fetch-hidden" title="导入">🚚</button>
    <button class="fetch-export fetch-hidden" title="导出">🚍</button>
    <input accept="text/plain, application/json" class="fetch-file fetch-hidden" type="file">
</div>
<div class="select-setting">
    <select class="fetch-item-select fetch-hidden" name="fetch-item-select"></select>
</div>