<li class="fetch-replacement-item">
    <select class="replace_target_type" name="replace_target_type" title="{{replace_target_type|lang}}">
        {{opType|buildOption(replace_target_type,0,1,2)}}
    </select>
    <input class="templateVar fetch-hidden" name="templateVar" placeholder="{{templateVar|lang}}" required
           title="{{templateVar|lang}}" type="text" value="{{templateVar|htmlSpecial}}">
    <input class="fetch-replacement-target" name="searchValue" placeholder="{{searchValue|lang}}" required
           title="{{searchValue|lang}}" type="text" value="{{searchValue|htmlSpecial}}">
    <input class="fetch-replacement-value" name="replaceValue" placeholder="{{replaceValue|lang}}"
           title="{{replaceValue|lang}}"
           type="text" value="{{replaceValue|htmlSpecial}}">
    <input class="replace_regex_pattern" name="replace_regex_pattern" placeholder="{{replace_regex_pattern|lang}}"
           title="{{replace_regex_pattern|lang}}"
           type="text" value="{{replace_regex_pattern}}">
    <button class="replacement-add" data-op="add" data-tpl-fn="replacement" title="{{add|lang}}">+︎</button>
    <button class="replacement-remove" data-op="remove">-</button>
</li>
