<div class="fetch-dd">
    <input class="fetch-field" name="fetch-field" placeholder="{{title.fetch-field}}"
           title="{{title.fetch-field}}" value="{{fetch-field}}">
    <input class="fetch-replacement-selector" name="fetch-replacement-selector"
           placeholder="{{title.fetch-replacement-selector}}"
           title="{{title.fetch-replacement-selector}}" value="{{fetch-replacement-selector}}">
</div>


<div class="fetch-dd">
    <ul class="fetch-replacement-items" data-batch>
        {{replacement-item-html}}
    </ul>
</div>

