<div class="fetch-dd">
    <input class="fetch-field" name="fetch-field" placeholder="{{fetch-field|lang}}"
           title="{{fetch-field|lang}}" value="{{fetch-field}}">
    <input class="fetch-replacement-selector" name="fetch-replacement-selector"
           placeholder="{{fetch-replacement-selector|lang}}"
           title="{{fetch-replacement-selector|lang}}" value="{{fetch-replacement-selector}}">
</div>


<div class="fetch-dd">
    <ul class="fetch-replacement-items" data-batch>
        {{replacement-item-html}}
    </ul>
</div>

