<li class="fetch-replacement-item">
    <select class="handleType" name="handleType" title="{{handleType|lang}}">
        {{opType|buildOption(handleType,0,1,2)}}
    </select>
    <input class="templateVar fetch-hidden" name="templateVar" placeholder="{{templateVar|lang}}" required
           title="{{templateVar|lang}}" type="text" value="{{templateVar|htmlSpecial}}">
    <input class="fetch-replacement-target" name="searchValue" placeholder="{{searchValue|lang}}" required
           title="{{searchValue|lang}}" type="text" value="{{searchValue|htmlSpecial}}">
    <input class="fetch-replacement-value" name="replaceValue" placeholder="{{replaceValue|lang}}"
           title="{{replaceValue|lang}}" type="text" value="{{replaceValue|htmlSpecial}}">
    <input class="pattern" name="pattern" placeholder="{{pattern|lang}}"
           title="{{pattern|lang}}" type="text" value="{{pattern}}">
    <button class="replacement-add" data-op="add" data-tpl-fn="replacement" title="{{add|lang}}">+︎</button>
    <button class="replacement-remove" data-op="remove">-</button>
</li>
