<div class="selector-item">
    <input name="fetch-selector" placeholder="{{fetch-selector|lang}}" title="{{fetch-selector|lang}}"
           type="text" value="{{fetch-selector|htmlSpecial}}">
    <input name="is_multiple" placeholder="{{is_multiple|lang}}" title="{{is_multiple|lang}}" type="checkbox"
           {{is_multiple|checked}}>
    <button class="add-selector-item" data-op="add" title="{{add|lang}}">+
    </button>
    <button class="remove-selector-item" data-op="remove">-</button>

</div>