<div class="fetch-dd">
    <input class="fetch-field" name="fetch-field" placeholder="{{title.fetch-field}}"
           title="{{title.fetch-field}}" value="{{fetch-field}}">
</div>

<div class="fetch-dd">
    <input class="fetch-tag-selector" name="fetch-selector"
           placeholder="{{title.fetch-tag-selector}}" title="{{title.fetch-tag-selector}}"
           value="{{fetch-tag-selector}}">
    <input class="fetch-tag" name="fetch-tag" placeholder="{{title.fetch-tag}}"
           title="{{title.fetch-tag}}" value="{{fetch-tag}}">
</div>