<div class="fetch-box fetch-action-container">
    <div class="fetch-dd">
        <input class="fetch-field" name="fetch-field" placeholder="{{fetch-field|lang}}"
               title="{{fetch-field|lang}}" value="{{fetch-field}}">
    </div>

    <div class="fetch-dd">
        <input class="tag-selector" name="tag-selector"
               placeholder="{{tag-selector|lang}}" title="{{tag-selector|lang}}"
               value="{{tag-selector|htmlSpecial}}">
        <input class="fetch-tag" name="fetch-tag" placeholder="{{fetch-tag|lang}}"
               title="{{fetch-tag|lang}}" value="{{fetch-tag}}">
    </div>
</div>